<div class="card-service">
  <div class="card-service__icon">
    {% render 'icon-service', icon_name: card_icon %}
  </div>
  <h3 class="card-service__title">{{ card_title }}</h3>
  <p class="card-service__description">{{ card_description }}</p>
  <p class="card-service__price">{{ card_price }}</p>
  {% if card_link != blank %}
    <a href="{{ card_link }}" class="card-service__link">Learn More &rarr;</a>
  {% endif %}
</div>
