<section class="bp-404">
  <div class="page-width bp-404__inner">
    <div class="bp-404__code" aria-hidden="true">404</div>
    <h1 class="bp-404__heading">Page Not Found</h1>
    <p class="bp-404__sub">Sorry, the page you're looking for doesn't exist or has been moved. Let's get you back on track.</p>
    <div class="bp-404__actions">
      <a href="/collections/all" class="btn btn--primary btn--lg">Browse All Services</a>
      <a href="/" class="btn btn--outline btn--lg">Go to Homepage</a>
    </div>
  </div>
</section>
